<a class="dcard" [routerLink]="['/destinations', destination.slug]">
  <img [src]="destination.coverImage" [alt]="destination.name" loading="lazy" class="dcard__img"
       onerror="this.src='https://images.unsplash.com/photo-1516026672322-bc52d61a55d5?w=600&q=80'"/>
  <div class="dcard__overlay"></div>
  <div class="dcard__body">
    <span class="dcard__country">{{destination.country}}</span>
    <h3 class="dcard__name">{{destination.name}}</h3>
    <p class="dcard__tagline">{{destination.tagline}}</p>
    <span class="dcard__link">{{destination.tourCount}} tours →</span>
  </div>
</a>
